In [62]:
from config import api_key
import requests
from pprint import pprint

In [52]:
import pandas as pd

In [74]:
response = requests.get('https://api.themoviedb.org/3/search/movie?api_key=' + api_key + '&language=en-US&query='+ '' +'&year='+ 'year')

In [76]:
response.json()

{'page': 1,
 'total_results': 1,
 'total_pages': 1,
 'results': [{'popularity': 61.804,
   'vote_count': 11145,
   'video': False,
   'poster_path': '/kOVEVeg59E0wsnXmF9nrh6OmWII.jpg',
   'id': 181808,
   'adult': False,
   'backdrop_path': '/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg',
   'original_language': 'en',
   'original_title': 'Star Wars: The Last Jedi',
   'genre_ids': [28, 12, 878],
   'title': 'Star Wars: The Last Jedi',
   'vote_average': 6.9,
   'overview': 'Rey develops her newly discovered abilities with the guidance of Luke Skywalker, who is unsettled by the strength of her powers. Meanwhile, the Resistance prepares to do battle with the First Order.',
   'release_date': '2017-12-13'}]}

In [69]:
response = requests.get('https://api.themoviedb.org/3/discover/movie?api_key=' +  api_key + '&primary_release_year=2017&sort_by=revenue.desc')

In [70]:
highest_revenue = response.json()
highest_revenue = highest_revenue['results']
highest_revenue[0]

{'popularity': 61.804,
 'vote_count': 11145,
 'video': False,
 'poster_path': '/kOVEVeg59E0wsnXmF9nrh6OmWII.jpg',
 'id': 181808,
 'adult': False,
 'backdrop_path': '/5Iw7zQTHVRBOYpA0V6z0yypOPZh.jpg',
 'original_language': 'en',
 'original_title': 'Star Wars: The Last Jedi',
 'genre_ids': [28, 12, 878],
 'title': 'Star Wars: The Last Jedi',
 'vote_average': 6.9,
 'overview': 'Rey develops her newly discovered abilities with the guidance of Luke Skywalker, who is unsettled by the strength of her powers. Meanwhile, the Resistance prepares to do battle with the First Order.',
 'release_date': '2017-12-13'}

In [29]:
columns = ['film', 'revenue']
df = pd.DataFrame(columns=columns)
df.head()

Empty DataFrame
Columns: [film, revenue]
Index: []

In [72]:
for film in highest_revenue:
    # print(film['title'])
    film_revenue = requests.get('https://api.themoviedb.org/3/movie/'+ str(film['id']) +'?api_key='+ api_key+'&language=en-US')
    film_revenue = film_revenue.json()
    #print(locale.currency(film_revenue['revenue'], grouping=True ))
    df.loc[len(df)]=[film['title'],film_revenue['revenue']] # store title and revenue in our dataframe

In [46]:
df

                                                film     revenue
0                           Star Wars: The Last Jedi  1332539889
1                               Beauty and the Beast  1263521126
2                            The Fate of the Furious  1238764765
3                                    Despicable Me 3  1031552585
4                     Jumanji: Welcome to the Jungle   962102237
5                             Spider-Man: Homecoming   880166924
6                                     Wolf Warrior 2   870322670
7                     Guardians of the Galaxy Vol. 2   863756051
8                                     Thor: Ragnarok   853977126
9                                       Wonder Woman   821847012
10                                              Coco   800526015
11  Pirates of the Caribbean: Dead Men Tell No Tales   794861794
12                                                It   701796444
13                                    Justice League   657924295
14                                             Logan   619021436
15                     Transformers: The Last Knight   605425157
16                                Kong: Skull Island   566652812
17                                           Dunkirk   525573161
18                                     The Boss Baby   498814908
19                    War for the Planet of the Apes   488533726