In [5]:
import os
import pandas as pd

In [36]:
movie_path = os.path.join("Resources", 'MoviesOnStreamingPlatforms_updated.csv')
movies_db = pd.read_csv(movie_path, index_col= False)

In [38]:
columns = ['film', 'year']

Empty DataFrame
Columns: [film, year]
Index: []

In [35]:
titles = []
years = []
for index, rows in movies_db[:20].iterrows():
    movies_list = rows.Title
    movies_year = rows.Year
    
    titles.append(movies_list)
    years.append(movies_year)

In [39]:
movie_data = list(zip(titles, years))
movies_iterate = pd.DataFrame(movie_data, columns = columns)
movies_iterate

                                  film  year
0                            Inception  2010
1                           The Matrix  1999
2               Avengers: Infinity War  2018
3                   Back to the Future  1985
4       The Good, the Bad and the Ugly  1966
5    Spider-Man: Into the Spider-Verse  2018
6                          The Pianist  2002
7                     Django Unchained  2012
8              Raiders of the Lost Ark  1981
9                 Inglourious Basterds  2009
10                         Taxi Driver  1976
11                            3 Idiots  2009
12                     Pan's Labyrinth  2006
13                                Room  2015
14     Monty Python and the Holy Grail  1975
15        Once Upon a Time in the West  1968
16  Indiana Jones and the Last Crusade  1989
17                       Groundhog Day  1993
18                   The King's Speech  2010
19                                 Her  2013